@inject UserAccessService UserAccessService

@using Microsoft.AspNetCore.Authentication
@using ChoiceVFileSystemBlazor.Components._Ucp.Layout
@using ChoiceVFileSystemBlazor.Components._CopsAndCrimes._Layout

@implements IDisposable

<CascadingAuthenticationState>
    @if (_isCopsAndCrimes)
    {
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="routeData" DefaultLayout="@typeof(CopsAndCrimesLayout)"/>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(CopsAndCrimesLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    }
    else if (_isUcp)
    {
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="routeData" DefaultLayout="@typeof(UcpLayout)"/>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(UcpLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    }
    else
    {
        <AuthorizeView Policy="DiscordPolicy">
            <Authorized>
                <CascadingValue Value="@UserAccessService">
                    <Router AppAssembly="@typeof(Program).Assembly">
                        <Found Context="routeData">
                            <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
                        </Found>
                        <NotFound>
                            <LayoutView Layout="@typeof(MainLayout)">
                                <p>Sorry, there's nothing at this address.</p>
                            </LayoutView>
                        </NotFound>
                    </Router>
                </CascadingValue>
            </Authorized>
            <NotAuthorized>
                <p>You are not authorized to view this page.</p>
            </NotAuthorized>
        </AuthorizeView>
    }
</CascadingAuthenticationState>


@code {
    private static bool _isCopsAndCrimes;
    private static bool _isUcp;
    private static Routes? _instance;
    
    protected override async Task OnInitializedAsync()
    {
        var currentUri = Navigation.Uri;
        var newUri = new Uri(currentUri);
        var currentHost = newUri.Host;

        _isCopsAndCrimes = currentHost.Contains("copsandcrimes.de");
        _isUcp = currentHost.Contains("ucp.choicev.net") || currentHost.Contains("ucp.rezondes.net");

        if (false)
        {
            _isCopsAndCrimes = currentHost.Contains("localhost");
        }
        
        if (true)
        {
            _isUcp = currentHost.Contains("localhost");
        }
        
        if (_isCopsAndCrimes)
        {
            if (newUri.AbsolutePath != "/") return;
            
            Navigation.NavigateTo("/landingpage");
            return;
        }
        
        if (_isUcp)
        {
            if (newUri.AbsolutePath != "/") return;
            
            Navigation.NavigateTo(UcpHome.GetRedirectUrl());
            return;
        }
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (!UserAccessService.HasClaims(authState.User))
        {
            var context = HttpContextAccessor.HttpContext;
            await context.ChallengeAsync("Discord");
            return;
        }
            
        await UserAccessService.InitializeUserAsync(authState.User);
        
        if (newUri.AbsolutePath != "/landingpage") return;
        
        Navigation.NavigateTo("/");
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        if (_isCopsAndCrimes || _isUcp) return;
        
        _instance = this;
        await JS.InvokeVoidAsync("initializeCustomReload");
    }
    
    [JSInvokable]
    public static async Task CustomReload()
    {
        if (_instance == null || _isCopsAndCrimes || _isUcp) return;
        await _instance.Reload();
    }
    
    private async Task Reload()
    {
        if (ReloadService is null || _isCopsAndCrimes || _isUcp) return;
        await ReloadService.TriggerCustomReload();
    }
    
    public void Dispose()
    {
        // Console.WriteLine("Disposed");
    }
}