<MudDialog>
    <TitleContent>
        [@Data.CharId]
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                <MudPaper>
                    <div class="d-flex flex-row align-items-center px-5 mud-width-full">
                        <MudIcon Icon="@Icons.Material.Filled.Info"/>
                        <MudText Class="px-5" Typo="Typo.h5">Informationen</MudText>
                    </div>
                    <MudContainer Class="d-flex flex-column justify-center mud-width-full py-8">
                        <MudText>CharId: @Data.CharId</MudText>
                        <MudText>Position: @Data.Position</MudText>
                        <MudText>DistanceToSender: @Data.DistanceToSender</MudText>
                        <MudText>Health: @Data.Health</MudText>
                    </MudContainer>
                </MudPaper>
            </MudItem>

            <MudItem xs="12">
                <InventoryInfoDataGrid Data="Data.Inventory" Height="400px"/>
            </MudItem>
            
            <MudItem xs="12">
                <ClothingInfoDataGrid Data="Data.ClothingInfo" Height="400px"/>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; } = null!;
    
    [Parameter] public SurroundingPlayerInfo Data { get; set; } = null!;

    private void Cancel() => MudDialog.Cancel();
}