@implements IDisposable

<style>
    .server-info-item {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px;
        width: 300px;
    }
</style>

<MudItem xs="12" sm="6" md="12">
    <MudPaper Elevation="2" Class="pa-4" Style="height: 285px;">
        <div class="d-flex justify-center align-items-center mud-width-full" style="position: relative; padding-bottom: 15px;">
            <MudText Typo="Typo.h5">
                Aktuelle Serverinformationen
            </MudText>
        </div>

        @if (_loading)
        {
            <LoadingComponent/>
        }
        else if (_data is null)
        {
            <ErrorComponent/>
        }
        else
        {
            <div class="d-flex mud-width-full justify-content-around">
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.AccountBox"/> Accounts
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.OverallAccountCount</MudText>
                </MudPaper>
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.PlaylistAddCheck"/> davon gewhitelisted
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.WhitelistedAccountsCount</MudText>
                </MudPaper>
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.PlaylistRemove"/> davon gebannt
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.BannedAccountsCount</MudText>
                </MudPaper>
            </div>
            <div class="d-flex mud-width-full justify-content-around">
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle"/> Spieler online
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.PlayerOnlineCount</MudText>
                </MudPaper>
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.LocalPolice"/> davon Cops
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.PoliceInDutyCount</MudText>
                </MudPaper>
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.MedicalInformation"/> davon Medics
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.MedicInDutyCount</MudText>
                </MudPaper>
                <MudPaper class="d-flex server-info-item" Elevation="2">
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.LocalPolice"/> davon Sheriffs
                    </MudText>
                    <MudText Typo="Typo.body1">@_data.SheriffInDutyCount</MudText>
                </MudPaper>
            </div>
            <div class="d-flex mud-width-full flex-row-reverse" style="opacity: 0.2; padding-top: 15px;">
                <MudText Typo="Typo.body1">letzte Aktualisierung: @_lastFetchedString</MudText>
            </div>
        }
    </MudPaper>
</MudItem>

@code {
    [CascadingParameter] public UserAccessService UserAccessService { get; set; }
    private bool _loading = true;
    private CurrentServerInfosApiModel? _data;
    private DateTime _lastFetchedUtc = DateTime.UtcNow;
    private string? _lastFetchedString;
    
    private static ServerinformationComponent? _instance;
    
    protected override void OnInitialized()
    {
        ReloadService.OnCustomReload += Reload;
    }

    public void Dispose()
    {
        ReloadService.OnCustomReload -= Reload;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _instance = this;
        
        await Load();
    }
    
    private async Task Reload()
    {
        if (_loading) return;

        await Load();
    }
    
    private async Task Load()
    {
        _loading = true;
        StateHasChanged();

        var access = await UserAccessService.GetUserAccess();
        
        var (lastTrySuccess, lastTry, cachedLastUpdate, cachedData) = ServerInformationCachedService.GetCachedData();
        if (lastTrySuccess.HasValue && lastTrySuccess.Value && cachedLastUpdate.HasValue)
        {
            _data = cachedData;
            _lastFetchedUtc = cachedLastUpdate.Value;
            _lastFetchedString = _lastFetchedUtc.ConvertTimeFromUtcWithTimeZone(access.Settings.TimeZone);
        }
        
        _loading = false;
        StateHasChanged();
    }
}