@inherits LayoutComponentDisposableBase

<MudThemeProvider Theme="@_currentTheme" IsDarkMode="@_isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@if (_shouldRedirect)
{
    <NotAuthorized/>
}
else if (!_shouldRedirect && _loading)
{
    <PageLoading/>
}
else
{
    <MudText
        Style="
            opacity: 0.2;
            position: absolute;
            left: 395px;
            top: 0;
            z-index: 9999;
            color: white;"
        Typo="Typo.body2">
        @Constants.VERSION
    </MudText>
    
    <MudLayout Style="height: 100vh; overflow: hidden;">
        <MudAppBar> 
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
            <MudImage Src="choicev_logo_full_full.png"
                      Alt="ChoiceV Logo" 
                      Style="
                        width: 400px; 
                        margin-bottom: 3px;
                        margin-left: -5px;
                        " />
            <MudSpacer/>
            <MudButtonGroup Color="Color.Inherit">
                <MudTooltip Text="Zur Cloud" Duration="Constants.TOOLTIP_DURATION" Class="mr-5">
                    <MudIconButton Icon="@Icons.Material.Filled.Cloud" Color="Color.Inherit" Href="@Constants.CLOUD_URL" Target="_blank"/>
                </MudTooltip>
                <ThemeModeToggle IsDarkMode="_isDarkMode" OnDarkModeChanged="ToggleDarkMode"/>
                <MudTooltip Text="Eigener Account" Duration="Constants.TOOLTIP_DURATION">
                    <MudIconButton Icon="@Icons.Material.Filled.AccountBox" Color="Color.Inherit" OnClick="OpenAccessPage"/>
                </MudTooltip>
            </MudButtonGroup>
        </MudAppBar>

        <MudDrawer @bind-Open="_open" ClipMode="_clipMode" Breakpoint="_breakpoint" Variant="DrawerVariant.Mini" Style="height: calc(100% - 40px - var(--mud-appbar-height));">
            <NavMenu @ref="_navMenu"/>
        </MudDrawer>

        <MudMainContent Style="height: 100%; overflow: hidden;">
            <MudContainer Class="px-8" MaxWidth="MaxWidth.False" style="height: 100%; overflow-y: auto; padding: 16px 0; position: relative;">
                @Body

                <MudOverlay Visible="@LoadingService.ShowLoading" DarkBackground="true" ZIndex="99999" Absolute="true">
                    <PageLoading/>
                </MudOverlay>
            </MudContainer>
        </MudMainContent>

        <MudNavLink Href="https://github.com/Rezondes"
                    Icon="@Icons.Custom.Brands.GitHub"
                    Style="@GetStyle()">
            @if (_open)
            {
                <span>Created by Rezondes</span>
            }
        </MudNavLink>
    </MudLayout>
}

@code
{
    private string GetStyle()
    {
        const string mainStyle = "position: absolute; bottom: 0; height: 40px; margin-left: 0; background-color: var(--mud-palette-drawer-background);";

        return _open ? mainStyle + " width: var(--mud-drawer-width-left)" : mainStyle + " width: var(--mud-drawer-width-mini-left)";
    }
    
    [CascadingParameter] public UserAccessService UserAccessService { get; set; }
    private bool _loading = true;
    private bool _shouldRedirect;
    
    public static HubConnection? BaseHubConnection;
    
    private bool _open = true;
    private Breakpoint _breakpoint = Breakpoint.Lg;
    private DrawerClipMode _clipMode = DrawerClipMode.Always;
    
    private MudTheme _currentTheme = new()
    {
        PaletteDark = new PaletteDark()
        {
            Primary = "rgb(204, 138, 37)",
            TableHover = "rgb(204, 138, 37)"
        },
        PaletteLight = new PaletteLight()
        {
            Primary = "rgb(204, 138, 37)",
            AppbarBackground = "rgb(90,90,100)",
            TableHover = "rgb(204, 138, 37)"
        }
    };
    private bool _isDarkMode = true;

    private NavMenu? _navMenu;

    private Timer? _saveToggleDrawer;
    private Timer? _saveLightMode;

    private bool _showPageLoading;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var access = await UserAccessService.GetUserAccess();

        // nasty fix, but it works, so fuck it
        if (access.Settings is null)
        {
            _isDarkMode = true;
            _open = true;
        }
        else
        {
            _isDarkMode = access.Settings.IsDarkMode;
            _open = access.Settings.IsNavbarExpanded;
        }
        
        LoadingService.OnChange += StateHasChanged;
    }

    public override void Dispose()
    {
        LoadingService.OnChange -= StateHasChanged;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await JS.InvokeVoidAsync("setFavicon", "choicev_logo_partial.png");
        
        await CheckRedirect();
        
        await StartHubConnection();
            
        _loading = false;
        StateHasChanged();
    }

    private async Task CheckRedirect()
    {
        _navMenu?.Reload();
        
        var relativePath = Navigation.ToBaseRelativePath(Navigation.Uri);
        var right = PageRightRegistry.GetNeededRankForPage(relativePath);
        var hasRight = await UserAccessService.HasRightAsync(right);
        if (!hasRight)
        {
            _shouldRedirect = true;
        }
        
        var access = await UserAccessService.GetUserAccess();
        if (access is null) // should never be null, but code does what it does
        {
            _shouldRedirect = true;
        }
        else if (access.Rank <= RankEnum.None)
        {
            _shouldRedirect = true;
        }
        
        _loading = false;
        if (!_shouldRedirect) return;

        StateHasChanged();
        
        Navigation.NavigateToNotAuthorized();
    }
    
    private async Task StartHubConnection()
    {
        BaseHubConnection = HubHelper.GetHubConnection(Navigation, BaseHub.HubPattern);
        
        BaseHubConnection.On(BaseHubMethodEnum.UpdateAccess.ToString(), async (Ulid accessId) =>
        {
            try
            {
                var access = await UserAccessService.GetUserAccess();
                if (access is null) return;
                if (accessId != access.Id) return;

                await InvokeAsync(UserAccessService.ReloadUserAccessAsync);
                await InvokeAsync(CheckRedirect);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
            }
        });
        
        BaseHubConnection.On(BaseHubMethodEnum.UpdateRights.ToString(), async () =>
        {
            try
            {
                var access = await UserAccessService.GetUserAccess();
                if (access is null) return;

                await InvokeAsync(UserAccessService.ReloadUserAccessAsync);
                await InvokeAsync(CheckRedirect);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
            }
        });
        
        await BaseHubConnection.StartAsync();
    }

    private void ToggleDrawer()
    {
        _open = !_open;
        StateHasChanged();

        _saveToggleDrawer?.DisposeAsync();
        
        _saveToggleDrawer = new Timer(async _ =>
        {
            try
            {
                using var scope = ServiceProvider.CreateScope();
                var userAccessService = scope.ServiceProvider.GetRequiredService<UserAccessService>();
                var accessProxy = scope.ServiceProvider.GetRequiredService<AccessProxy>();

                var access = await userAccessService.GetUserAccess();
                await accessProxy.UpdateIsNavbarExpandedAsync(access.Id, _open, access.Id);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Fehler beim Aktualisieren des Navbar-Status: {ex.Message}");
            }
        }, null, TimeSpan.FromSeconds(5), Timeout.InfiniteTimeSpan);
    }
    
    private void ToggleDarkMode(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        
        _saveLightMode?.DisposeAsync();
        
        _saveLightMode = new Timer(async _ =>
        {
            try
            {
                using var scope = ServiceProvider.CreateScope();
                var userAccessService = scope.ServiceProvider.GetRequiredService<UserAccessService>();
                var accessProxy = scope.ServiceProvider.GetRequiredService<AccessProxy>();

                var access = await userAccessService.GetUserAccess();
                await accessProxy.UpdateIsDarkModeAsync(access.Id, newValue, access.Id);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Fehler beim Aktualisieren des DarkMode-Status: {ex.Message}");
            }
        }, null, TimeSpan.FromSeconds(5), Timeout.InfiniteTimeSpan);
    }
    
    private async Task OpenAccessPage()
    {
        var access = await UserAccessService.GetUserAccess();
        if (access is null) return;
        
        Navigation.NavigateTo(AccessView.GetRedirectUrl(access.Id.ToString()));
    }
}