@using ChoiceVFileSystemBlazor.Services.Vikunja.Models

<MudDialog Style="height: 100%">
    <TitleContent>
        <MudItem Class="d-flex">
            <MudText Typo="Typo.h3" Style="color: rgba(255,255,255, 0.2)">#@Task.Id&nbsp;</MudText><MudText Typo="Typo.h3">@Task.Title</MudText>
        </MudItem>
    </TitleContent>
    <DialogContent>
        <MudContainer Class="py-5">
            <MudText Typo="Typo.h4"><MudIcon Icon="@Icons.Material.Filled.Description"/> Beschreibung</MudText>
            <MudText Typo="Typo.h6">@Task.Description</MudText>
        </MudContainer>
        
        <MudContainer Class="py-5">
            <MudText Typo="Typo.h4"><MudIcon Icon="@Icons.Material.Filled.AttachFile"/> Anhänge</MudText>

            <MudList T="string">
                @foreach (var attachment in Attachments.OrderByDescending(x => x.Created))
                {
                    <MudPaper Class="my-2 d-flex">
                        <MudGrid>
                            <MudItem xs="2" @onclick="() => OpenAttachmentInNewTab(attachment)" Class="d-flex justify-content-center align-items-center">
                            @if (attachment.File.Mime is not null)
                            {
                                var data = Convert.ToBase64String(attachment.File.Mime);
                                <div style="max-width: 100px;">
                                    @if (attachment.File.Name.EndsWith(".jpg") || attachment.File.Name.EndsWith(".jpeg") || attachment.File.Name.EndsWith(".png") || attachment.File.Name.EndsWith(".gif") || attachment.File.Name.EndsWith(".bmp"))
                                    {
                                        <img src="@($"data:image/{attachment.File.Mime};base64,{data}")" alt="@attachment.File.Name" style="max-width: 100%; height: auto;"/>
                                    }
                                    else if (attachment.File.Name.EndsWith(".pdf"))
                                    {
                                        <iframe src="@($"data:application/pdf;base64,{data}")" width="100%" height="600px"></iframe>
                                    }
                                    else if (attachment.File.Name.EndsWith(".txt"))
                                    {
                                        <MudText>@System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(data))</MudText>
                                    }
                                    else if (attachment.File.Name.EndsWith(".mp4") || attachment.File.Name.EndsWith(".webm") || attachment.File.Name.EndsWith(".ogg"))
                                    {
                                        <video controls style="max-width: 100%;">
                                            <source src="@($"data:video/{attachment.File.Mime};base64,{data}")" type="@($"video/{attachment.File.Mime}")"/>
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                    else if (attachment.File.Name.EndsWith(".mp3") || attachment.File.Name.EndsWith(".wav") || attachment.File.Name.EndsWith(".ogg"))
                                    {
                                        <audio controls style="width: 100%;">
                                            <source src="@($"data:audio/{attachment.File.Mime};base64,{data}")" type="@($"audio/{attachment.File.Mime}")"/>
                                            Your browser does not support the audio element.
                                        </audio>
                                    }
                                    else if (attachment.File.Name.EndsWith(".svg"))
                                    {
                                        <img src="@($"data:image/svg+xml;base64,{data}")" alt="@attachment.File.Name" style="max-width: 100%; height: auto;"/>
                                    }
                                    else
                                    {
                                        <MudText>Unsupported file type: @attachment.File.Name</MudText>
                                    }
                                </div>
                            }
                            else
                            {
                                <MudAlert Severity="Severity.Error">Es konnten keine Daten gefunden werden!</MudAlert>
                            }
                            </MudItem>
                            <MudItem xs="10">
                                <MudText>Name: @attachment.File.Name</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                }
            </MudList>
        </MudContainer>
        
        <MudContainer Class="py-5">
            <MudText Typo="Typo.h4"><MudIcon Icon="@Icons.Material.Filled.Comment"/> Kommentare</MudText>
            <MudTextField T="string" Clearable Lines="10" @bind-Text="NewCommentText" Placeholder="Füge hier deinen Kommentar ein...">
                
            </MudTextField>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="my-2" OnClick="AddComment">Kommentieren</MudButton>

            <MudList T="string">
                @foreach (var comment in Comments.OrderByDescending(x => x.Created))
                {
                    var authorName = comment.Author.Id == VikunjaClientService.VikunjaApiUserId ? OwnDiscordName : comment.Author.Name;
                    var labelText = $"{authorName} am {comment.Created}";
                    
                    <MudPaper Class="my-2">
                        <MudListItem>
                            <MudTextField ReadOnly Lines="10" Label="@labelText" Value="@comment.Comment"/>
                        </MudListItem>
                    </MudPaper>
                }
            </MudList>
        </MudContainer>
        
    </DialogContent>
</MudDialog>
<MudOverlay @bind-Visible="showImagePreview" Absolute="true" DarkBackground AutoClose>
    @if (GetFileUrl().StartsWith("data:image"))
    {
        <img src="@GetFileUrl()" style="max-width: 100%; height: auto;" alt=""/>
    }
    else if (GetFileUrl().StartsWith("data:application/pdf"))
    {
        <iframe src="@GetFileUrl()" width="100%" height="600px"></iframe>
    }
    else if (GetFileUrl().StartsWith("data:text/plain"))
    {
        <MudText>@System.Text.Encoding.UTF8.GetString(previewAttachment.File.Mime)</MudText>
    }
    else if (GetFileUrl().StartsWith("data:video"))
    {
        <video controls style="max-width: 100%;">
            <source src="@GetFileUrl()" type="@GetFileUrl().Split(';')[0].Split(':')[1]"/>
            Your browser does not support the video tag.
        </video>
    }
    else if (GetFileUrl().StartsWith("data:audio"))
    {
        <audio controls style="width: 100%;">
            <source src="@GetFileUrl()" type="@GetFileUrl().Split(';')[0].Split(':')[1]"/>
            Your browser does not support the audio element.
        </audio>
    }
    else
    {
        <MudText>Unsupported file type.</MudText>
    }
</MudOverlay>

@code {
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    [Parameter] public VikunjaTask Task { get; set; }
    [Parameter] public List<VikunjaAttachment> Attachments { get; set; }
    [Parameter] public List<VikunjaComment> Comments { get; set; }
    [Parameter] public string OwnDiscordName { get; set; }

    private bool showImagePreview = false;
    private VikunjaAttachment? previewAttachment;
    
    private string NewCommentText = string.Empty;

    private async Task AddComment(MouseEventArgs obj)
    {
        if (string.IsNullOrEmpty(NewCommentText)) return;
        
        LoadingService.StartLoading();
        
        var addResult = await VikunjaClientService.Client.HandleApiRequestAsync(
            async _ => await VikunjaClientService.Client.CreateNewTaskComment(Task.Id, new VikunjaComment(null, NewCommentText, null, null, null, null)));

        if (!addResult.IsSuccess)
        {
            LoadingService.StopLoading();
            Snackbar.Add("Etwas ist schief gelaufen. Kommentar wurde nicht hinzugefügt.", Severity.Error);
            return;
        }
        
        var getComments = await VikunjaClientService.Client.HandleApiRequestAsync(
            async _ => await VikunjaClientService.Client.GetAllCommentsForTaskAsync(Task.Id));
        if (getComments.IsSuccess)
        {
            Comments = getComments.Data;
        }
        else
        {
            Snackbar.Add("Kommentare konnten nicht neugeladen werden. Bitte lade die Seite manuell neu.", Severity.Error);
        }
        
        NewCommentText = string.Empty;
        LoadingService.StopLoading();
    }
    
    private async Task OpenAttachmentInNewTab(VikunjaAttachment attachment)
    {
        if (attachment.File.Mime is null) return;

        previewAttachment = attachment;
        showImagePreview = true;
    }
    
    private string GetFileUrl()
    {
        var base64Data = Convert.ToBase64String(previewAttachment.File.Mime);
        var fileType = "application/octet-stream"; 

        if (previewAttachment.File.Name.EndsWith(".jpg") || previewAttachment.File.Name.EndsWith(".jpeg"))
        {
            fileType = "image/jpeg";
        }
        else if (previewAttachment.File.Name.EndsWith(".png"))
        {
            fileType = "image/png";
        }
        else if (previewAttachment.File.Name.EndsWith(".gif"))
        {
            fileType = "image/gif";
        }
        else if (previewAttachment.File.Name.EndsWith(".bmp"))
        {
            fileType = "image/bmp";
        }
        else if (previewAttachment.File.Name.EndsWith(".pdf"))
        {
            fileType = "application/pdf";
        }
        else if (previewAttachment.File.Name.EndsWith(".txt"))
        {
            fileType = "text/plain";
        }
        else if (previewAttachment.File.Name.EndsWith(".mp4"))
        {
            fileType = "video/mp4";
        }
        else if (previewAttachment.File.Name.EndsWith(".webm"))
        {
            fileType = "video/webm";
        }
        else if (previewAttachment.File.Name.EndsWith(".ogg") || previewAttachment.File.Name.EndsWith(".oga"))
        {
            fileType = "audio/ogg";
        }
        else if (previewAttachment.File.Name.EndsWith(".mp3"))
        {
            fileType = "audio/mp3";
        }
        else if (previewAttachment.File.Name.EndsWith(".wav"))
        {
            fileType = "audio/wav";
        }
        else if (previewAttachment.File.Name.EndsWith(".svg"))
        {
            fileType = "image/svg+xml";
        }

        return $"data:{fileType};base64,{base64Data}";
    }
}