@page "/companies/view/{id}"

@implements IDisposable

@code {
    public const string Url = "/companies/view/";
    public static string GetRedirectUrl(string id) => Url + id;
}

<PageTitle>Unternehmen Ansicht</PageTitle>

@if (_loading)
{
    <PageLoading/>
}
else if (!_loading && _model is null)
{
    <ErrorComponent/>
}
else if (_model is null)
{
    <ErrorComponent/>
}
else
{
    <MudItem Style="height: 75px;">
        <MudText Typo="Typo.h3">[@_model.Id] @_model.Name</MudText>
    </MudItem>
    <MudGrid Justify="Justify.Center">
        <MudItem xs="5" >
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Height="240px">
                        <div class="d-flex flex-row align-items-center px-5 mud-width-full">
                            <MudIcon Icon="@Icons.Material.Filled.Info"/>
                            <MudText Class="px-5" Typo="Typo.h5">Spielerinformationen</MudText>
                        </div>
                        <MudContainer Class="d-flex flex-column justify-center mud-width-full py-8">
                            <MudText>Id: @_model.Id</MudText>
                            <MudText>ShortName: @_model.ShortName</MudText>
                            <MudText>CompanyType: @_model.CompanyType</MudText>
                            <MudText>StreetName: @_model.StreetName</MudText>
                            <MudText>Reputation: @_model.Reputation</MudText>
                            <MudText>RiskLevel: @_model.RiskLevel</MudText>
                        </MudContainer>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="7">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Height="140px">
                        <div class="d-flex flex-row align-items-center px-5 mud-width-full">
                            <MudIcon Icon="@Icons.Material.Filled.AdsClick"/>
                            <MudText Class="px-5" Typo="Typo.h5">Funktionen</MudText>
                        </div>
                        <div Class="d-flex flex-row justify-content-evenly mud-width-full py-8">
                            <WorkInProgressComponent/>
                        </div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full">
                <MudDataGrid
                    T="CompanyEmployeeApiModel" MultiSelection="true"
                    Items="@_model.Employees" SortMode="SortMode.Multiple" Filterable="true"
                    QuickFilter="@QuickFilter" RowClick="@RowClicked" Style="width: 100%;"
                    Hideable="true" Hover="true" Striped="true" FixedHeader="true" Height="400px">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Employee Übersicht</MudText>
                        <MudSpacer />
                        <MudTextField
                            T="string" @bind-Value="_searchString" Placeholder="@Constants.DATAGRID_SEARCHBAR_PLACEHOLDER"
                            Adornment="Adornment.Start" Immediate="true"
                            AdornmentIcon="@Icons.Material.Filled.Search"
                            IconSize="Size.Medium" Class="mt-0"/>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="#" Filterable="false" />
                        <PropertyColumn Property="x => x.CharacterId" Title="CharacterId" />
                        <PropertyColumn Property="x => x.CharacterName" Title="CharacterName" />
                        <PropertyColumn Property="x => x.Salary" Title="Salary" />
                        <PropertyColumn Property="x => x.InDuty" Title="InDuty" />
                        <PropertyColumn Property="x => x.PhoneNumber" Title="PhoneNumber" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="CompanyEmployeeApiModel" />
                    </PagerContent>
                </MudDataGrid>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <VehicleOverviewDataGrid @ref="_vehiclesOverviewDataGrid" Height="400px" CompanyId="_id"/>
        </MudItem>
        <MudItem xs="12">
            <BankAccountOverviewDataGrid @ref="_bankAccountOverviewDataGrid" Height="400px" CompanyId="_id"/>
        </MudItem>
    </MudGrid>
}

@code {
    [CascadingParameter] public UserAccessService UserAccessService { get; set; }
    private bool _isAuthorized;
    private bool _shouldRedirect;
    private bool _loading = true;
    
    [Parameter] public string Id { get; set; }
    private int _id;

    private CompanyApiModel? _model;

    private string? _searchString;

    private BankAccountOverviewDataGrid _bankAccountOverviewDataGrid;
    private VehicleOverviewDataGrid _vehiclesOverviewDataGrid;
    
    private readonly CancellationTokenSource _cancellationTokenSource = new();
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _isAuthorized = await UserAccessService.HasRightAsync(PageRightRegistry.GetNeededRankForPage(Url));
        _shouldRedirect = !_isAuthorized;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        if (_shouldRedirect)
        {
            Navigation.NavigateToNotAuthorized();
            return;
        }

        var parsingSuccess = ParseId();
        if (!parsingSuccess)
        {
            Navigation.NavigateToError();
            return;
        }

        await Reload();
    
        ReloadService.OnCustomReload += Reload;
    }
    
    public void Dispose()
    {
        _cancellationTokenSource.Cancel();
        _cancellationTokenSource.Dispose();

        ReloadService.OnCustomReload -= Reload;
    }

    private async Task Reload()
    {
        await Load();
        await _bankAccountOverviewDataGrid.Load();
        await _vehiclesOverviewDataGrid.Load();
    }
    
    private bool ParseId()
    {
        if (!int.TryParse(Id, out var companyId))
        {
            Snackbar.Add("Parsing failed", Severity.Error);
            _loading = false;
            return false;
        }

        _id = companyId;
        return true;
    }

    private async Task Load()
    {
        _loading = true;
        StateHasChanged();

        var result = await CompanyApi.HandleApiRequestAsync(
            async token => await CompanyApi.GetByCompanyIdAsync(_id, token),
            _cancellationTokenSource.Token);
        
        if (result.IsSuccess)
        {
            _model = result.Data;
        }
        else
        {
            Snackbar.Add(result.Error?.Message ?? "Unknown error", Severity.Error);
        }
        
        _loading = false;
        StateHasChanged();
    }
    
    private Func<CompanyEmployeeApiModel, bool> QuickFilter => x =>
    {
        if (_searchString == null) return true;
        
        var lowerSearchString = _searchString.ToLower();

        if (string.IsNullOrWhiteSpace(lowerSearchString))
            return true;

        if (x.CharacterId.ToString().ToLower().Contains(lowerSearchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.CharacterName.ToLower().Contains(lowerSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        
        if (x.Salary.ToString(CultureInfo.CurrentCulture).ToLower().Contains(lowerSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        
        if (x.InDuty.ToString().ToLower().Contains(lowerSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        
        if (x.PhoneNumber.ToString().ToLower().Contains(lowerSearchString, StringComparison.OrdinalIgnoreCase))
            return true;
        
        if ($"{x.Id}".ToLower().Contains(_searchString))
            return true;

        return false;
    };
    
    void RowClicked(DataGridRowClickEventArgs<CompanyEmployeeApiModel> args)
    {
        Navigation.NavigateTo(CharacterView.GetRedirectUrl(args.Item.CharacterId.ToString()));
    }
}